* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 1.3rem;
  background-color: white;
  border-top: 10rem solid #1c1c1c;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
}

header {
    width: 100%;
    border-bottom: 1rem solid black;
    background-color: white;
}

header img {
    width: 100%;
    padding: 3rem;
}

form {
    border-top: 1rem solid black;
    border-bottom: 1rem solid black;
    margin: 5rem auto;
    min-height: 50rem;
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
    width: 90rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

form input.form-control, .submit, .products p {
    height: 4rem;
    min-width: 25rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    border-radius: 20px;
    /* background-color: white; */
    color: #333333;
    font-weight: 300;
    transition: .3s all;
}

.form-control:hover {
    box-shadow: -1px 1px 5px -1px #333333cc;
}


.form-inline {
    justify-content: space-around;
}

form .submit {
    position: absolute;
    bottom: 2rem;
    right: 0;
    background-color: rgb(156, 120, 189);
    cursor: pointer;
}

.form-row {
    margin-bottom: 1rem;
}

.productselected {
    background-color: rgb(156, 120, 189);

}


